{{ >header }}

  <h1>Trello Clone / Sync</h1>

  <nav>
    <h3>Logged in as {{ user.username }}</h3>
    <form action="/monitor/new" method="get">
      <input type="submit" value="Monitor board..." />
    </form>
    <form action="/sync/new" method="get">
      <input type="submit" value="Setup new sync..." />
    </form>
    <form action="/webhooks" method="get">
      <input type="submit" value="Webhooks" />
    </form>
  </nav>

  <table>
    <thead>
      <tr>
        <td>Monitored Board</td>
        <td>Delay in seconds</td>
        <td>Scheduled for</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{ #monitors }}
        <tr>
          <td>
            <a target="_blank" href="{{ board.url }}">{{ board.name }}</a>
          </td>
          <td>
            {{ delaySeconds }}
          </td>
          <td>
            {{ scheduledAt }}
            {{ ^scheduledAt }}--{{ /scheduledAt }}
          </td>
          <td>
            <form action="/monitor/delete/{{ id }}" method="post">
              <input type="submit" value="Remove" />
            </form>
          </td>
        </tr>
      {{ /monitors }}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <td>Sync</td>
        <td>Label(s)</td>
        <td>Last synced</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
      {{ #syncs }}
        <tr>
          <td>
            <a target="_blank" href="{{ source.url }}">{{ source.name }}</a>
            →
            <a target="_blank" href="{{ target.url }}">{{ target.name }}</a>
          </td>
          <td class="labels">
            {{ #labels }}
              <span>{{ . }}</span>
            {{ /labels }}
          </td>
          <td>
            {{ lastSync }}
            {{ ^lastSync }}--{{ /lastSync }}
          </td>
          <td>
            <form action="/sync/delete/{{ id }}" method="post">
              <input type="submit" value="Remove" />
            </form>
            <form action="/sync/{{ id }}" method="post">
              <input type="submit" value="Sync now" />
            </form>
          </td>
        </tr>
      {{ /syncs }}
    </tbody>
  </table>

{{ >footer }}
