{{ >header }}

  <h1>Trello Clone / Sync</h1>
  <h3>Logged in as {{ user.username }}</h3>
  <form action="/sync/new" method="post">

    <label for="source">Source</label>
    <select name="source">
      {{ #boards }}
        <option value="{{ id }}">{{ name }}</option>
      {{ /boards }}
    </select>

    <label for="target">Target</label>
    <select name="target">
      {{ #boards }}
        <option value="{{ id }}">{{ name }}</option>
      {{ /boards }}
    </select>

    <label for="label">Label (only cards with this label colour will be synced)</label>
    <select name="label">
      <option value="green">green</option>
      <option value="red">red</option>
    </select>

    <input type="submit" value="Create" />

  </form>

{{ >footer }}
