{{ >header }}

  <h1>Create Sync</h1>
  <h3>Logged in as {{ user.username }}</h3>
  <form action="/sync/new" method="post">

    <label for="sourceId">Source</label>
    <select name="sourceId">
      {{ #boards }}
        <option value="{{ id }}">{{ name }}</option>
      {{ /boards }}
    </select>

    <label for="targetId">Target</label>
    <select name="targetId">
      {{ #boards }}
        <option value="{{ id }}">{{ name }}</option>
      {{ /boards }}
    </select>

    <label for="label">Label (only cards with this label colour will be synced)</label>
    <select name="label">
      <option value="green">green</option>
      <option value="red">red</option>
    </select>

    <input type="submit" value="Create" />

  </form>

{{ >footer }}
